@charset "ISO-8859-1";
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f5f5f5;
}

/* Estilos para el mensaje de bienvenida y los enlaces de registro e inicio de sesión */
/* Estilos para el mensaje de bienvenida y los enlaces de registro e inicio de sesión */
.header {
    display: flex;
    align-items: center;
    justify-content: flex-end; /* Centra horizontalmente y coloca los elementos al final del contenedor */
    margin-right: 20px; /* Mueve el contenido a la derecha */
}

.header p {
    font-size: 18px;
    margin: 0;
    margin-right: 20px; /* Espaciado entre el texto y el botón */
    color: #333; /* Color del texto del mensaje de bienvenida */
}

.header a {
    text-decoration: none;
    margin-right: 20px; /* Espaciado entre los enlaces */
    color: #ff9900; /* Color de los enlaces */
    transition: color 0.3s;
}

.header a.logout-button {
    background-color: #ff9900;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    text-decoration: none;
    cursor: pointer;
    transition: background-color 0.3s;
}

.header a.logout-button:hover {
    background-color: #ff6600;
}

.header a:hover {
    color: #ff6600; /* Cambio de color al pasar el cursor por los enlaces */
}


.inicioregistro {
	margin-top: 5px;
}



.logo img {
    max-width: 150px;
    height: auto;
    margin-left: 20px;
}

.columns {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 10px 20px;
    margin-top: 20px;
}

/* Estilos para la navegación principal */
.main-nav ul {
    list-style: none;
    padding: 0;
    display: flex;
    align-items: center; /* Alinea verticalmente los elementos del nav */
}

.main-nav li {
    margin-right: 20px;
}

.main-nav .logonegro {
    vertical-align: middle; /* Alinea la imagen verticalmente en el centro */
    margin-top: -5px; /* Ajusta el margen superior para alinear perfectamente con el texto */
}

.main-nav a {
    text-decoration: none;
    color: #333;
    transition: color 0.3s;
}

.main-nav a:hover {
    color: #ff9900; /* Color de enlace al pasar el cursor */
}


/* Estilos para el campo de búsqueda */
.search-bar input[type="text"] {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 200px;
}

.search-bar button {
    background-color: #ff9900;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    margin-left: 10px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.search-bar button:hover {
    background-color: #ff6600; /* Color al pasar el cursor */
}

/* Estilos para el carrito de compras */
.cart {
    position: relative;
    cursor: pointer;
}

.cart img {
    max-width: 40px;
    height: auto;
}

.cart span {
    position: absolute;
    top: 0;
    right: 0;
    background-color: #ff6600;
    color: #fff;
    padding: 4px 8px;
    border-radius: 50%;
    font-size: 14px;
    font-weight: bold;
    animation: bounce 0.5s ease-in-out infinite;
}

/* Animación de rebote */
@keyframes bounce {
    0%, 20%, 50%, 80%, 100% {
        transform: translateY(0);
    }
    40% {
        transform: translateY(-5px);
    }
    60% {
        transform: translateY(-3px);
    }
    
}

.hero {
    background-image: url(https://media.glamour.mx/photos/61909fe1a6e030d64810076d/master/w_1600%2Cc_limit/178219.jpg); /* Cambia 'hero_background.jpg' por tu imagen de fondo */
    background-size: cover;
    background-position: center;
    color: #fff;
    text-align: center;
    padding: 100px 0;
}

.hero-content {
    max-width: 800px;
    margin: 0 auto;
}

.hero h1 {
    font-size: 36px;
    margin-bottom: 20px;
}

.hero p {
    font-size: 18px;
    margin-bottom: 30px;
}

.cta-button {
    display: inline-block;
    background-color: #ff9900;
    color: #fff;
    text-decoration: none;
    padding: 15px 30px;
    border-radius: 5px;
    font-size: 18px;
    transition: background-color 0.3s;
}

.cta-button:hover {
    background-color: #ff6600; /* Color al pasar el cursor */
}

.feature-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 60px 0;
    background-color: #f9f9f9;
}

.feature-image img {
    max-width: 100%;
    height: auto;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.feature-content {
    flex: 1;
    margin-left: 20px;
    text-align: left;
}

.feature-content h2 {
    font-size: 28px;
    margin-bottom: 20px;
}

.feature-content p {
    font-size: 16px;
    margin-bottom: 30px;
}

.feature-content .cta-button {
    display: inline-block;
    background-color: #ff9900;
    color: #fff;
    text-decoration: none;
    padding: 15px 30px;
    border-radius: 5px;
    font-size: 18px;
    transition: background-color 0.3s;
}

.feature-content .cta-button:hover {
    background-color: #ff6600; /* Color al pasar el cursor */
}
.gallery-section {
    text-align: center;
    padding: 60px 0;
    background-color: #f9f9f9;
}

.gallery-section h2 {
    font-size: 28px;
    margin-bottom: 20px;
}

.image-gallery {
    display: flex;
    justify-content: center;
    align-items: center;
}

.image-gallery img {
    max-width: 200px;
    height: auto;
    margin: 10px;
    border: 2px solid #ddd;
    border-radius: 5px;
    transition: transform 0.3s;
    cursor: pointer;
}

.image-gallery img:hover {
    transform: scale(1.1); /* Efecto de aumento al pasar el cursor */
}
.footer-section {
    background-color: #333;
    color: #fff;
    padding: 40px 0;
}

.footer-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.footer-column {
    flex-basis: calc(25% - 20px);
    text-align: center;
    padding: 20px;
    box-sizing: border-box;
}

.footer-column img {
    max-width: 150px;
    height: auto;
    margin-bottom: 20px;
}

.footer-column h4 {
    font-size: 20px;
    margin-bottom: 15px;
}

.footer-column ul {
    list-style: none;
    padding: 0;
}

.footer-column li {
    margin-bottom: 10px;
}

.footer-column a {
    color: #fff;
    text-decoration: none;
    transition: color 0.3s;
}

.footer-column a:hover {
    color: #ff9900; /* Cambio de color al pasar el cursor */
}

.social-section {
    text-align: center;
    margin-top: 20px;
}

.social-section h4 {
    font-size: 20px;
    margin-bottom: 15px;
}

.social-buttons {
    display: flex;
    justify-content: center;
}

.social-button {
    display: inline-block;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 16px;
    margin-right: 10px;
    transition: background-color 0.3s;
    text-decoration: none;
    color: #fff;
}

.social-button.facebook {
    background-color: #1877f2; /* Azul de Facebook */
}

.social-button.twitter {
    background-color: #1da1f2; /* Celeste de Twitter */
}

.social-button.instagram {
    background-color: #e4405f; /* Café claro de Instagram */
}

.social-button.linkedin {
    background-color: #2867b2; /* Color de LinkedIn */
}

.social-button:last-child {
    margin-right: 0;
}

.social-button:hover {
    background-color: #ff6600; /* Cambio de color al pasar el cursor */
}

.logo {
	width: 200px;
}

.logonegro {
	width: 100px;
}
.products {
    background-color: #fff;
    padding: 50px;
    text-align: center;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.product {
    width: calc(33.33% - 20px);
    margin-bottom: 40px;
    text-align: center;
}

.product img {
    max-width: 100%;
    height: auto;
    border: 2px solid #fff;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.product h3 {
    font-size: 24px;
    margin: 10px 0;
    color: #333;
}

.product p {
    font-size: 16px;
    margin: 10px 0;
    color: #666;
}

.price {
    display: block;
    font-size: 20px;
    color: #ffcc00;
    margin: 10px 0;
}

.buy-button {
    display: inline-block;
    background-color: #ffcc00;
    color: #333;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.buy-button:hover {
    background-color: #ff9900;
}

.policy {
    background-color: #fff;
    padding: 50px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    max-width: 800px;
    margin: 0 auto;
    text-align: left;
    color: #333;
}

.policy h2 {
    font-size: 28px;
    margin-bottom: 20px;
    color: #333;
}

.policy h3 {
    font-size: 20px;
    margin-top: 20px;
    margin-bottom: 10px;
    color: #333;
}

.policy p {
    font-size: 16px;
    margin: 10px 0;
    color: #666;
}

.policy a {
    color: #ffcc00;
    text-decoration: none;
    transition: color 0.3s ease;
}

.policy a:hover {
    color: #ff9900;
}
.terms {
    background-color: #fff;
    padding: 50px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    max-width: 800px;
    margin: 0 auto;
    text-align: left;
    color: #333;
}

.terms h2 {
    font-size: 28px;
    margin-bottom: 20px;
    color: #333;
}

.terms h3 {
    font-size: 20px;
    margin-top: 20px;
    margin-bottom: 10px;
    color: #333;
}

.terms p {
    font-size: 16px;
    margin: 10px 0;
    color: #666;
}

.terms a {
    color: #ffcc00;
    text-decoration: none;
    transition: color 0.3s ease;
}

.terms a:hover {
    color: #ff9900;
}
.legal {
    background-color: #fff;
    padding: 50px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    max-width: 800px;
    margin: 0 auto;
    text-align: left;
    color: #333;
}

.legal h2 {
    font-size: 28px;
    margin-bottom: 20px;
    color: #333;
}

.legal p {
    font-size: 16px;
    margin: 10px 0;
    color: #666;
}

.product-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 20px;
    justify-content: center;
    align-items: start;
    margin: 0 auto;
    max-width: 1200px;
    padding: 20px;
}


.product-card {
    text-align: center;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow: hidden; /* Evita que el contenido se desborde de la tarjeta */
}

.product-card h3 {
    font-size: 18px;
    margin-bottom: 10px;
    overflow: hidden;
    text-overflow: ellipsis; /* Agrega puntos suspensivos (...) al final del texto que se desborda */
    white-space: nowrap; /* Evita que el texto se divida en varias líneas */
}

.product-card p {
    font-size: 14px;
    margin-bottom: 10px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.product-image img {
    width: 100%;
    height: 200px; /* Establece una altura fija para las imágenes */
    object-fit: cover; /* Ajusta la imagen para cubrir completamente el contenedor sin distorsionar */
    border: 2px solid #fff;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    margin-bottom: 10px;
}

.price {
    font-size: 20px;
    color: #ffcc00;
    margin: 10px 0;
}

.buy-button {
    background-color: #ffcc00;
    color: #333;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.buy-button:hover {
    background-color: #ff9900;
}






