@charset "ISO-8859-1";

.foto {
	width: 400px;
}
.fototext{
	text-align: center;
	margin-right: 5px;
}
.txtd{
	padding-right:60px;
	text-align: justify;
	margin-top: 5px;
	padding-top:5px ;
		
}

h1 {
    padding-left:40px; 
}

.image-container {
    display: flex;
    justify-content: center;
}

.feature-image {
    flex: 1;
    text-align: center;
}

.social-section {
    display: flex;
    justify-content: center;
    flex: 1;
    text-align: center;
}
